/* ----- PRESETS ----- */
@offWhite: #F5F5F5;
@ltBlue: #C5D7DF;
@blue: #6991AC;
@red: #DA291C;
@burnt: #D75C37;
@dkGrey: #67727A;

// exterior http://i.imgur.com/UYudWWX.jpg
// landing images w/ border http://i.imgur.com/5BMOYwG.png
// landing images w/o border http://i.imgur.com/HaZMfjZ.png
@import url(https://fonts.googleapis.com/css?family=Varela);

html {
  	background-color: @ltBlue;
}
body {
	width: 100%;
	margin-top: 0;
	margin-left: 0;
}

.app {
  	font-family: 'Varela', sans-serif;
  	width: 100%;

  	a {
		color: inherit;
		font-style: normal;
		text-decoration: none;
	}

	a:hover {
		cursor: pointer;
	}

	.links {
		text-decoration: none;
	}
}

/*--------- FIXED CONTENT ---------*/

// NAV
.wrapper {
    width: 90%;
    table-layout: fixed;
	height: 160px;
    background-color: @offWhite;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;

    .outer {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .content {
            font-size: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            height: 100%;

            .left-column {
            	width: 30%;
            }
            .right-column {
            	width: 65%;
            }

            .nav-column {
                display: inline-block;
                vertical-align: middle;
                .inner-col {
                    margin: 0 auto;
					.nav-img {
						width: 250px;
						height: auto;
					}

					.nav-left {
						margin: 0 auto;
						text-align: right;
					}

					.nav-right {
					}

					ul {
						height: 40px;
						margin: 0 auto;

						li {
							padding-left: 15px;
							padding-right: 15px;
							text-decoration: none;
							list-style-type: none;
							display: inline-block;
							font-size: 16px;	
							margin-top: 10px;
							letter-spacing: 3px;
							color: darken(@dkGrey, 30%);
							float: right;
							border-right: 1px solid lightgrey;
						}
						.right-li {
							border-right: 1px solid @offWhite;
						}
						li:hover {
							cursor: pointer;
							color: @dkGrey;
						}
					}
				}
			}
		}
	}
}

.landing {
	background-color: @dkGrey;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;

	header {
		margin: 0 auto;
		text-align: center;
		width: 99%;

		img {
			width: 100%;
			max-width:1200px;
			height: auto;
		}
	}


}